<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

   <main>
    <form class="product-form" action="/admin/edit-product" method="POST">
        <div class="form-control">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" <% if (editing) { %> value="<%= product.title %>" <% } %>>
        </div>
        <div class="form-control">
            <label for="image">Image URL</label>
            <input type="text" name="image" id="imageUrl" <% if (editing) { %> value="<%= product.image %>" <% } %>>
        </div>
        <div class="form-control">
            <label for="price">Price</label>
            <input type="number" name="price" id="price" step="0.01" <% if (editing) { %> value="<%= product.price %>" <% } %>>
        </div>
        <div class="form-control">
            <label for="quantity">Quantity</label>
            <input type="number" name="quantity" id="quantity" step="1" <% if (editing) { %> value="<%= product.quantity %>" <% } %>>
        </div>
        <div class="form-control">
            <label for="description">Description</label>
            <textarea name="description" id="description" rows="5" cols="41"><% if (editing) { %><%= product.description %><% } %></textarea>
        </div>
        <input type="hidden" name="productID" id="productID" step="1" <% if (editing) { %> value="<%= product.productID %>" <% } %>>
        <button class="btn" type="submit">Update Product</button>
    </form>
</main>

<%- include('../includes/end.ejs') %>