<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= docTitle %></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header class="header">
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a class="nav-link" href="/">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/add-product">Add Product</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main-content">
      <h1 class="main-title">My Products</h1>
      <div class="items-column">
        <% props.forEach(function(item) { %>
        <div class="item">
          <img src="<%= item.imageUrl %>" alt="<%= item.title %>" />
          <h2 class="item-title"><%= item.title %></h2>
          <p class="item-description"><%= item.description %></p>
          <p class="item-price">Price: $<%= item.price %></p>
        </div>
        <% }); %>
      </div>
    </main>
  </body>
</html>
