doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= docTitle
    link(rel="stylesheet", href="/styles.css")
  body 
    header.header
      nav.nav
        ul.nav-list
          li.nav-item
            a.nav-link(href='/') Shop
          li.nav-item
            a.nav-link(href='/admin/add-product') Add Product
    main.main-content
      h1.main-title My Products
      .items-column
        each item in props
          .item
            img(src=item.imageUrl, alt=item.title)
            h2.item-title= item.title
            p.item-description= item.description
            p.item-price= `Price: $${item.price}`
