<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <% if (prods.length > 0) { %>
                    <div class="grid">
                        <% for (let product of prods) { %>
                            <article class="card product-item">
                                <header class="card__header">
                                    <h1 class="product__title">
                                        <%= product.productID.title %>
                                    </h1>
                                </header>
                                <div class="card__image">
                                    <img src="<%= product.productID.image %>" alt="<%= product.title %>">
                                </div>
                                <div class="card__content">
                                    <h2 class="product__price">$
                                        <%= product.productID.price %>
                                    </h2>
                                    <p class="product__description">
                                        <%= product.productID.description %>
                                    </p>
                                </div>
                                <div class="card__actions">
                                    <a href="/order/<%=  product.productID._id %>?edit=true" class="btn">Checkout</a>
                                    <form action="/remove-cart" method="POST">
                                        <input type="hidden" name="productID" id="productID" value="<%= product.productID._id  %>">
                                        <input type="hidden" name="price" id="productID" value="<%= product.productID.price  %>">

                                        <button class="btn" type="submit">Remove</button>
                                    </form>                                

                                </div>
                            </article>
                            <% } %>
                            <div class="total-price-section">
                                <h2>Total Price:</h2>
                                <p class="total-price">$<%= cart.totalPrice %></p>
                            </div>
                    </div>
                    <% } else { %>
                        <h1>No Products Found!</h1>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>